body{
    background-color: gray;
    background-image: url("publico/imagem/imagem.jpg"); 
}

h1{
    font-family: 'arial';
    font-size: 14px;
    color:rgb(0, 0, 0);
}
h2{
    font-family: 'arial';
    font-size: 14px;
    color:rgba(0, 110, 255, 0.966);
}